<?php
/**
 * Copyright © 2017 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block FeedbackCompany\TheFeedbackCompany\Block\Adminhtml\FeedbackCompany\Header
 */
?>
<div class="mm-block-thefeedbackcompany" style="background-image: url(<?php echo $block->escapeUrl($block->getImage()); ?>)">
    <a class="helpbutton" href="<?php echo $block->escapeUrl($block->getSupportLink()); ?>" target="_blank">
        Manual & Support
    </a>
    <p>
        <strong>Developed by Magmodules.</strong>
        A Magento only eCommerce Agency located in the Netherlands.
    </p>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="icon2"></div>
                    <a href="https://www.magmodules.eu/" target="_blank">Magmodules.eu</a>
                </td>
                <td>
                    <div class="icon1"></div>
                    <a href="<?php echo $block->escapeUrl($block->getContactLink()); ?>" target="_blank">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>